body{
    background-color: #a7b6ff;
}

.container{
    color: #0608ac;
}

.boton:hover{
    background-color: #7687ff;
}
.nav{
    background-color: #0608ac;
  
    width: 100%;
    color:#f1f5ff ;
    text-align: center;
    display: block;
}

.nombre{
    text-align: center;
    color: #f1f5ff;
    
}
.boton{
    width: 100%;
}

.card-body{
    background-color: #3e4aff;
    text-align: center;
    color: #e5e9ff;
}